.divLogin{
    display:flex;
    margin-top:2rem;
    flex-direction: column;
    padding:30px;
    justify-content:center;
}

h1{
    margin-top:0px;
    font-size:4rem;
    color:#3dc2ff;
    text-align:center;
}

h2{
    text-align:center;
    font-size:1.5rem;
    font-weight:200
}

.cadre{
    padding:2rem;
}

.divLogin{
    text-align:center;
    font-size:1rem;
    font-weight:300
}

.center{
    text-align:center;
}

.miniText{
    font-size:0.8rem;
    text-align:center;
    margin-bottom:0px;
    color:#3dc2ff;
}