<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button color="medium" (click)="cancel()">Cancel</ion-button>
    </ion-buttons>
    <ion-title>{{data.name}}</ion-title>
    <ion-buttons slot="end">
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content class="ion-padding">
  <div class="containerRow spaceBetween">
    <p>Canton</p>
    <ion-item>
      <ion-label position="stacked">{{data.canton}}</ion-label>
    </ion-item>
  </div>
  <div class="containerRow spaceBetween">
    <p>Tag associé</p>
    <ion-item>
      <ion-label position="stacked">{{data.tags}}</ion-label>
    </ion-item>
  </div> 

  <div>
    <p>Note de la place</p>
    <div class="containerRow spaceBetween">
      <ion-item>
        <ion-label position="stacked">Note : {{data.averageNote}}</ion-label>
      </ion-item>
      <ion-item>
        <ion-label position="stacked">{{data.numberReviews}} reviews</ion-label>
      </ion-item>
    </div>
  </div>

  <div *ngIf="arrayCommentsLength > 0">
    <p>Avis</p>
    <div *ngFor="let avis of data.commentaire.slice(0,3)" class="containerRow spaceBetween">
      <ion-item>
        <ion-label position="stacked">{{avis.text}}</ion-label>
      </ion-item>
      <ion-item>
        <ion-label position="stacked">{{avis.author}}</ion-label>
      </ion-item>
    </div>
    <ion-button  *ngIf="data.commentaire.length>3" (click)="viewAvis()">Voir tous le avis</ion-button>
  </div>
<div>
  <p>Note cette place</p>
  <form (ngSubmit)="confirmFormAddNoteToPlace()" [formGroup]="form">
    <ion-list>
      <ion-item>
        <ion-label position="stacked">Note cette place *</ion-label>
        <ion-select required name="notePlace" formControlName="notePlace" interface="popover" placeholder="Choisis la note">
          <ion-select-option *ngFor="let noteChosen of this.chooseNote"
            [value]="noteChosen">{{noteChosen}}</ion-select-option>
        </ion-select>
      </ion-item>
    </ion-list>
    <ion-item>
      <ion-label position="stacked">Avis</ion-label>
      <ion-input [clearInput]="true" formControlName="noteEcrite" placeholder="Ton avis"></ion-input>
    </ion-item>
    <ion-button type="submit" [disabled]="!form.valid" expand="block">Envoyer mon avis</ion-button>
  </form>
</div>

  <app-galerie-photo [maPropriete]="pageName" [maData]="dataplacemodal"></app-galerie-photo>
</ion-content>