.containerRow {
    display:flex;
    flex-direction: row;
   }

   .spaceBetween{
    justify-content: space-between;
   }

   .secondary{
    background-color: #3dc2ff
   }

   .large{
    width:50vw;
   }

   .distance{
    height:40px;
   }

   .mediumHeight{
    height:50px;
   }