.hidden{
    display:none;
}


.map {
    height: 70%;
  }
  .leaflet-map{
    height: 70%;
  }

  .customcursor {
    cursor: url("../../utile_files/locate-outline.svg") auto;
 }

 .containerRow {
  display:flex;
  flex-direction: row;
 }

 .spaceBetween{
  justify-content: space-between;
 }

 .start{
  justify-content: flex-start;
 }



