<ion-header>
  <ion-toolbar>
    <ion-title>places</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="logOut()">
        <ion-icon name="log-out"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>


<ion-content class="ion-padding">

  <ion-searchbar [debounce]="500" (ionChange)="handleChange($event)"></ion-searchbar>

  <ion-list>
    <ion-item *ngFor="let result of results">
      <ion-label (click)="goOnChosenPoint(result)">{{ result.name }}</ion-label>
    </ion-item>
  </ion-list>

  <div class="containerRow start">
    <p>Filtrer</p>

    <ion-list>
      <ion-item>
        <ion-select  (ionChange)="filterByCanton()" interface="popover" placeholder="Cantons" [(ngModel)]="chosenCanton">
<!--           <ion-select-option  selected disabled hidden  > Cantons </ion-select-option>  -->
          <ion-select-option *ngFor="let canton of cantons" [value]="canton">{{canton}}</ion-select-option>
        </ion-select>
      </ion-item>
    </ion-list>

    <ion-list>
      <ion-item>
        <ion-select  (ionChange)="filterByTag()" interface="popover" placeholder="Tags" [(ngModel)]="tagChosen">
          <ion-select-option *ngFor="let tag of tags" [value]="tag">{{tag}}</ion-select-option>
        </ion-select>
      </ion-item>
    </ion-list>

    <ion-button (click)="reinitialiseFiltres()" fill="outline">Reinitialiser</ion-button>
  </div>

  <div class="containerRow start verticalSpace">
    <ion-segment value="map">
      <ion-segment-button (click)="activateMapView($event)" value="map">
        <ion-label>Map view</ion-label>
      </ion-segment-button>
      <ion-segment-button (click)="activateListView($event)" value="view">
        <ion-label>List view</ion-label>
      </ion-segment-button>
    </ion-segment>
  </div>



<!--   //mettre display none plutôt que ngIf pour éviter erreur console car là disparaît du dom donc certaines fonctions bug -->
<div [class.hidden]="!mapViewChosen" class="leaflet-map" leaflet [leafletOptions]="mapOptions" [leafletLayers]="mapMarkers"
(leafletMapReady)="onMapReady($event)">
</div>
<!--   <div *ngIf="mapViewChosen" class="leaflet-map" leaflet [leafletOptions]="mapOptions" [leafletLayers]="mapMarkers"
    (leafletMapReady)="onMapReady($event)">
  </div> -->

  <div *ngIf="!mapViewChosen">
    <p>Résultat</p>
    <ul class="fullspace">
      <div class="containerRow listPlace greyHover" *ngFor="let place of data; let i = index" (click)="viewInfoPlace(place)">
        <p class="space">{{place.name}}</p>
<!--         <p class="space">{{this.distanceWithMe[i]}} Km</p> -->
        <p class="space">{{place.distanceWithMe}} Km</p>
        <div *ngIf="place.averageNote>=0">Stars: {{place.averageNote}}</div>
      </div>
    </ul> 
  </div>

  <ion-button *ngIf="mapViewChosen" class="locateMe" (click)="locateMe()">
    <ion-icon name="pin"></ion-icon>
    <ion-label>Locate Me</ion-label>
  </ion-button>

  <ion-button *ngIf="mapViewChosen" class="addMarker" (click)="addMarker()">Add Marker
  </ion-button>

  <!--  <ion-button expand="block" (click)="openModal()">Open</ion-button>
  <p>{{ message }}</p>  -->

  <!-- <ion-button class="addDataToMap" (click)="addDataToMap()">Add Data to Map</ion-button>  -->

</ion-content>