<ion-header>
  <ion-toolbar>
    <ion-title>Profil</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-title> {{pseudo}} {{name}} </ion-title>
  <ion-segment (ionChange)="segmentChanged($event)"value="photos">
    <ion-segment-button (click)="activatePictureView($event)" value="photos"> Mes photos </ion-segment-button>
    <ion-segment-button (click)="activateMyVisitedPlacesView($event)" value="lieux"> Lieux visités </ion-segment-button>
  </ion-segment>
  <ion-title>
    <p *ngIf=" photoViewChosen">Mes photos</p>
    <p *ngIf=" !photoViewChosen">Mes lieux</p>
  </ion-title>

  <ion-list  [inset]="true" *ngIf="!photoViewChosen">
    <li class="listPlace" *ngFor="let place of places">
      <div tappable (click)="goOnChosenPlace(place)">{{place.name}}</div>
      <div *ngIf="place.averageNote">{{ place.averageNote}}</div>
    </li>
  </ion-list>
  <div *ngIf="photoViewChosen">
    <app-galerie-photo [maPropriete]="pageName" [maDataAccount]="dataPlaceAccount" ></app-galerie-photo>
  </div>
</ion-content>
f