<ion-header>
  <ion-toolbar>
    <ion-title>Profil</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-title> {{pseudo}} {{name}} </ion-title>
<ion-segment (ionChange)="segmentChanged($event)">
  <ion-segment-button value="photos">
    Mes photos
  </ion-segment-button>
  <ion-segment-button value="lieux">
    Lieux visités
  </ion-segment-button>
</ion-segment>
<ion-title>
  <p *ngIf=" currentSegment === 'photos'"> Mes photos</p>
  <p *ngIf=" currentSegment === 'lieux'"> Mes lieux</p>
</ion-title>

<ion-list [inset]="true" *ngIf=" currentSegment === 'lieux'">
  <li *ngFor="let place of data">
    <p tappable (click)="goOnChosenPlace(place)">{{place.name}}</p>
  </li>
    <div>
      {{notePassee2}}
    </div>
  
</ion-list>

</ion-content>
