<ion-header>
  <ion-toolbar>
    <ion-title>Profil</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-title> {{pseudo}} {{name}} </ion-title>
  <ion-segment (ionChange)="segmentChanged($event)"value="photos">
    <ion-segment-button value="photos"> Mes photos </ion-segment-button>
    <ion-segment-button value="lieux"> Lieux visités </ion-segment-button>
  </ion-segment>
  <ion-title>
    <p *ngIf=" currentSegment === 'photos'">Mes photos</p>
    <p *ngIf=" currentSegment === 'lieux'">Mes lieux</p>
  </ion-title>

  <ion-list  [inset]="true" *ngIf=" currentSegment === 'lieux'">
    <li class="listPlace" *ngFor="let place of places">
      <div tappable (click)="goOnChosenPlace(place)">{{place.name}}</div>
      <div *ngIf="place.averageNote">{{ place.averageNote}}</div>
    </li>
  </ion-list>
  <div *ngIf=" currentSegment === 'photos'">
    <app-galerie-photo [maPropriete]="pageName" ></app-galerie-photo>
  </div>
  
</ion-content>
