<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button color="medium" (click)="cancel()">Cancel</ion-button>
    </ion-buttons>
    <ion-title>Ajout de place</ion-title>
    <ion-buttons slot="end">
      <!-- <ion-button type="Submit" (click)="confirm()">Confirm</ion-button> -->
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content class="ion-padding">


  <form (ngSubmit)="confirm()" [formGroup]="form">
    <!-- <form > -->
  <ion-item>
    <ion-label position="stacked">Nom de la place</ion-label>
    <ion-input required [clearInput]="true" formControlName="placeName" placeholder="Name of the place"></ion-input>
  </ion-item>
  <ion-list>
    <ion-item>
      <ion-label position="stacked">Canton</ion-label>
      <ion-select required  formControlName="placeCanton"name="placeCanton" placeholder="Cantons">
        <ion-select-option *ngFor="let canton of cantons" [value]="canton">{{canton}}</ion-select-option>
      </ion-select>
    </ion-item>
  </ion-list>

  <ion-button type="submit" [disabled]="!form.valid" expand="block">Submit</ion-button>
</form>
  <ion-item>
    <ion-label position="stacked">Pictures</ion-label>
    <ion-button name="placePicture" (click)="takePicture()">Take picture</ion-button> 
  </ion-item>

  <ion-item>
  <img *ngIf="picture" [src]="picture.url" />
</ion-item>

<ion-item>
  <input type="file" (change)="onFileSelected($event)"/>
</ion-item>

<ion-item>
<!--   <img [src]="sanitizer.bypassSecurityTrustUrl(imageUrl)"> -->
</ion-item>

  
</ion-content>